table {
  border-collapse: collapse
}

th {
  text-align: center;
  border: 1px solid #333;
}

td {
  border: 1px solid #333; 
}

.highlighted {
  background: black;
}

td:hover th:hover {
  background: green;
}
tr:hover {
  background: black;
}

h1 {
  font-size: 20px
}

h2 {
  font-size: 16px;
}
