table {
  border-collapse: collapse
}

th {
  text-align: center;
  border: 1px solid #333;
}

td {
  border: 1px solid #333; 
  height: 30px;
}

thead {
  background: black;
}

.no-highlight {
  background: grey;
}
.highlighted {
  background: black;
}

td:hover {
  background: green;
}
tr:hover th:hover {
  background: black;
}

h1 {
  font-size: 20px
}

h2 {
  font-size: 16px;
}

.headerDiv {
  float: left;
  width: 24%;
}

.topnav {
  top: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width:100%;
  margin:0;
}


.topnav #myMenu {
  display: none;
}


.navhead {
  display: flex;
  text-align: center;
  justify-content: center;
}
.navhead div {
  flex:1;
  color: black;
  font-size: 30px;
}

.navhead > h1{
  flex:4;
}