table {
  border-collapse: collapse
}

th {
  text-align: center;
  border: 1px solid #333;
  
}

td {
  border: 1px solid #333; 
  
}

thead {
  background: black;
}

.highlighted {
  background: black;
}

td:hover {
  background: green;
}
tr:hover th:hover {
  background: black;
}

h1 {
  font-size: 20px
}

h2 {
  font-size: 16px;
}

.headerDiv {
  float: left;
  width: 24%;
}

.topnav {
  top: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width:100%;
}

.navLeft {
  float: left;
}

.navRight {
  float: right;
}

.topnav #myMenu {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.navhead {
  display: flex;
  text-align: center;
}

.navhead > h1{
  flex:1;
  padding-top: 13px;
}